@keyframes slideIn {
  0% {
    visibility: hidden;
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes finish {
  0% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
.slideIn-2 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-2.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-2.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}

.slideIn-3 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-3.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-3.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-3.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}

.slideIn-4 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-4.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-4.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-4.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-4.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}

.slideIn-5 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-5.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-5.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-5.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-5.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-5.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}

.slideIn-6 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-6.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-6.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-6.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-6.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-6.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-6.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}

.slideIn-7 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-7.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-7.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-7.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-7.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-7.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-7.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-7.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}

.slideIn-8 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-8.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-8.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-8.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-8.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-8.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-8.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-8.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-8.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}

.slideIn-9 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-9.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-9.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-9.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-9.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-9.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-9.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-9.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-9.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-9.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}

.slideIn-10 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-10.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-10.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-10.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-10.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-10.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-10.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-10.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-10.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-10.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-10.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}

.slideIn-11 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-11.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-11.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-11.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-11.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-11.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-11.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-11.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-11.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-11.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-11.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}
.slideIn-11.active *:nth-child(11) {
  animation: slideIn 0.7s 3.5s ease 1, finish 0.7s 4.2s ease-in infinite;
}

.slideIn-12 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-12.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-12.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-12.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-12.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-12.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-12.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-12.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-12.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-12.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-12.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}
.slideIn-12.active *:nth-child(11) {
  animation: slideIn 0.7s 3.5s ease 1, finish 0.7s 4.2s ease-in infinite;
}
.slideIn-12.active *:nth-child(12) {
  animation: slideIn 0.7s 3.85s ease 1, finish 0.7s 4.55s ease-in infinite;
}

.slideIn-13 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-13.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-13.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-13.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-13.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-13.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-13.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-13.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-13.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-13.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-13.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}
.slideIn-13.active *:nth-child(11) {
  animation: slideIn 0.7s 3.5s ease 1, finish 0.7s 4.2s ease-in infinite;
}
.slideIn-13.active *:nth-child(12) {
  animation: slideIn 0.7s 3.85s ease 1, finish 0.7s 4.55s ease-in infinite;
}
.slideIn-13.active *:nth-child(13) {
  animation: slideIn 0.7s 4.2s ease 1, finish 0.7s 4.9s ease-in infinite;
}

.slideIn-14 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-14.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-14.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-14.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-14.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-14.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-14.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-14.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-14.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-14.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-14.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}
.slideIn-14.active *:nth-child(11) {
  animation: slideIn 0.7s 3.5s ease 1, finish 0.7s 4.2s ease-in infinite;
}
.slideIn-14.active *:nth-child(12) {
  animation: slideIn 0.7s 3.85s ease 1, finish 0.7s 4.55s ease-in infinite;
}
.slideIn-14.active *:nth-child(13) {
  animation: slideIn 0.7s 4.2s ease 1, finish 0.7s 4.9s ease-in infinite;
}
.slideIn-14.active *:nth-child(14) {
  animation: slideIn 0.7s 4.55s ease 1, finish 0.7s 5.25s ease-in infinite;
}

.slideIn-15 * {
  visibility: hidden;
  transform: translateY(150px);
  opacity: 0;
}
.slideIn-15.active *:nth-child(1) {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}
.slideIn-15.active *:nth-child(2) {
  animation: slideIn 0.7s 0.35s ease 1, finish 0.7s 1.05s ease-in infinite;
}
.slideIn-15.active *:nth-child(3) {
  animation: slideIn 0.7s 0.7s ease 1, finish 0.7s 1.4s ease-in infinite;
}
.slideIn-15.active *:nth-child(4) {
  animation: slideIn 0.7s 1.05s ease 1, finish 0.7s 1.75s ease-in infinite;
}
.slideIn-15.active *:nth-child(5) {
  animation: slideIn 0.7s 1.4s ease 1, finish 0.7s 2.1s ease-in infinite;
}
.slideIn-15.active *:nth-child(6) {
  animation: slideIn 0.7s 1.75s ease 1, finish 0.7s 2.45s ease-in infinite;
}
.slideIn-15.active *:nth-child(7) {
  animation: slideIn 0.7s 2.1s ease 1, finish 0.7s 2.8s ease-in infinite;
}
.slideIn-15.active *:nth-child(8) {
  animation: slideIn 0.7s 2.45s ease 1, finish 0.7s 3.15s ease-in infinite;
}
.slideIn-15.active *:nth-child(9) {
  animation: slideIn 0.7s 2.8s ease 1, finish 0.7s 3.5s ease-in infinite;
}
.slideIn-15.active *:nth-child(10) {
  animation: slideIn 0.7s 3.15s ease 1, finish 0.7s 3.85s ease-in infinite;
}
.slideIn-15.active *:nth-child(11) {
  animation: slideIn 0.7s 3.5s ease 1, finish 0.7s 4.2s ease-in infinite;
}
.slideIn-15.active *:nth-child(12) {
  animation: slideIn 0.7s 3.85s ease 1, finish 0.7s 4.55s ease-in infinite;
}
.slideIn-15.active *:nth-child(13) {
  animation: slideIn 0.7s 4.2s ease 1, finish 0.7s 4.9s ease-in infinite;
}
.slideIn-15.active *:nth-child(14) {
  animation: slideIn 0.7s 4.55s ease 1, finish 0.7s 5.25s ease-in infinite;
}
.slideIn-15.active *:nth-child(15) {
  animation: slideIn 0.7s 4.9s ease 1, finish 0.7s 5.6s ease-in infinite;
}

.slideInSingle {
  visibility: hidden;
  transform: translateY(60px);
  opacity: 0;
}
.slideInSingle.active {
  animation: slideIn 0.7s ease 1, finish 0.7s 0.7s infinite;
}

.strip {
  font-size: 18px;
  background-color: #09B3B3;
  color: white;
  font-family: sans-serif;
}
.strip--pink {
  background-color: pink;
}
.strip--blue {
  text-align: left;
  background-color: #221715;
    color: black;
    height: 10px;
    padding: 0px;
}
@media only screen and (min-width: 1024px) {
  .strip {
    padding: 70px;
    font-size: 25px;
  }
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-size: 30px;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
}