* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: -65px;
}

/*logo*/
.logo-img {
    float: left;
    position: relative;
    margin: 5.1px;
}

/* Navigation Style */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    float: right;
    position: relative;
    display: inline-block;
    margin: 25px 25px;
    outline: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    padding: 0 0 10px;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ce7807;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.container > header,
.codrops-top {
    font-family: 'Lato', Arial, sans-serif;
}

.container > header {
    margin: 0 auto;
    text-align: center;
    color: #89867e;
}

.container > header h1 {
    font-size: 2.625em;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    color: #ce7807;
}

/* To Navigation Style */
.codrops-top {
    background: #ce7807;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: #f89d13;
    color: #716d62;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.container > section {
    padding: 5em 3em;
    text-align: center;
}

.color-7 {
    background: #1b120f;
}

/*ABOUT US*/

.about {
    position: relative;
    margin-left: 80px;
    padding-top: 90px;
    padding-bottom: 100px;
}

.about .wrapper {
    position: relative;
}

.about__image {
    position: relative;
    width: 22.5%;
}

.about img:nth-of-type(n+2) {
    margin-left: calc((2 * 12px) - 4px);
}

.about__box {
    position: absolute;
    top: 50%;
    right: 15.6%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30.5%;
    height: 90%;
    border: 1px solid #ce7807;
    z-index: 1001;
}

.about__wrapper {
    position: absolute;
    top: 50%;
    right: 17%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 80%;
    padding: 30px 60px 30px;
    background-color: #e6dedd;
    z-index: 1003;
}

.about h2 {
    margin-top: 10px;
}

.about p {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.625;
}

/*------------------------------------*\
	MENU
\*------------------------------------*/
.menu {
    width: 100%;
    padding-top: 85px;
    padding-bottom: calc(95px - 35px);
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/menu-bg.jpg") no-repeat center;
    background-size: cover;
    background-position: center top;
    background-color: #000;
}

.menu h2 {
    margin-top: 10px;
}

.menu p {
    margin-top: 50px;
    margin-right: 22.5%;
    margin-left: 22.5%;
    font-size: 15px;
    line-height: 1.6;
}

.menu__item-group {
    text-align: left;
    margin-top: 80px;
}

.menu__item {
    position: relative;
    margin-bottom: 35px;
}

.menu__image,
.menu__caption {
    display: inline-block;
}

.menu__image {
    width: 70px;
    height: 70px;
}

.menu__caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 70px);
    padding-right: calc(.16 * (100% - 70px) + 20px);
    padding-left: calc(30px - 4px);
}

.menu__name,
.menu__desc {
    display: block;
}

.menu__name,
.menu__price {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .12em;
    text-transform: uppercase;
}

.menu__desc {
    margin-top: 10px;
    font-size: 15px;
    color: #e4bb7a;
}

.menu__price {
    position: absolute;
    top: 0;
    left: calc(83.33%);
}

/*menu box*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);

.snip1573 {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #000000;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.snip1573:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.snip1573 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1573 figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
    opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/*Opening Hours*/

.opening {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    color: $black;
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/opening-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: $white;
}

.opening .container-fluid {
    padding-right: 20%;
    padding-left: 20%;
}

.opening h2 {
    margin-top: 10px;
}

.opening__wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    background-color: $white;
}

.opening__image {
    width: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.opening__hours {
    display: -webkit-inline-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 65% - 20px);
    padding: 30px;
    border: 1px solid $black;
    margin: 10px;
    text-align: center;
}

.opening__hours span,
.opening__hours p {
    font-size: 15px;
}

.opening__hours span {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: .12em;
    text-transform: uppercase;
}

.opening__hours span:nth-of-type(n+2) {
    display: inline-block;
    margin-top: 40px;
}

.opening__hours p {
    line-height: 1.5625;
}

/*SUBSCRIBE*/

.subscribe {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 96px;
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/subscribe-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: #fff;
}

.subscribe h2 {
    font-size: 18px;
    color: #000;
}

.arrow--subscribe,
.form--subscribe {
    margin-top: 45px;
}

.input--subscribe {
    width: 270px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #afafaf;
    font-family: Average, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #41403f;
    background-color: rgba(255, 255, 255, 0.5);
}

.submit--subscribe {
    margin-left: calc(26px - 4px);
    border: none;
}

.submit--subscribe:hover {
    cursor: pointer;
}
