* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: -65px;
}

/*logo*/
.logo-img {
    float: left;
    position: relative;
    margin: 5.1px;
}

/* Navigation Style */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    float: right;
    position: relative;
    display: inline-block;
    margin: 25px 25px;
    outline: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    padding: 0 0 10px;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ce7807;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.container > header,
.codrops-top {
    font-family: "Lato", sans-serif;
}

.container > header {
    margin: 0 auto;
    text-align: center;
    color: #89867e;
}

.container > header h1 {
    font-size: 2.625em;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    color: #ce7807;
}

/* To Navigation Style */
.codrops-top {
    background: #ce7807;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: #f89d13;
    color: #716d62;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.container > section {
    padding: 5em 3em;
    text-align: center;
}

.color-7 {
    background: #1b120f;
}

/*ABOUT US*/

.about {
    position: relative;
    margin-left: 80px;
    padding-top: 90px;
    padding-bottom: 100px;
}

.about .wrapper {
    position: relative;
}

.about__image {
    position: relative;
    width: 22.5%;
}

.about img:nth-of-type(n+2) {
    margin-left: calc((2 * 12px) - 4px);
}

.about__box {
    position: absolute;
    top: 50%;
    right: 15.6%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30.5%;
    height: 90%;
    border: 1px solid #ce7807;
    z-index: 1001;
}

.about__wrapper {
    position: absolute;
    top: 50%;
    right: 17%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 80%;
    padding: 30px 60px 30px;
    background-color: #e6dedd;
    z-index: 1003;
}

.about h2 {
    margin-top: 10px;
}

.about p {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.625;
}

/*MENU*/
.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    padding-top: 85px;
    padding-bottom: calc(95px - 35px);
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/menu-bg.jpg") no-repeat center;
    background-size: cover;
    background-position: center top;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu h2 {
    margin-top: 10px;
}

.menu p {
    margin-top: 50px;
    margin-right: 22.5%;
    margin-left: 22.5%;
    font-size: 15px;
    line-height: 1.6;
}

.menu__item-group {
    text-align: left;
    margin-top: 80px;
}

.menu__item {
    position: relative;
    margin-bottom: 35px;
}

.menu__image,
.menu__caption {
    display: inline-block;
}

.menu__image {
    width: 70px;
    height: 70px;
}

.menu__caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 70px);
    padding-right: calc(.16 * (100% - 70px) + 20px);
    padding-left: calc(30px - 4px);
}

.menu__name,
.menu__desc {
    display: block;
}

.menu__name,
.menu__price {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .12em;
    text-transform: uppercase;
}

.menu__desc {
    margin-top: 10px;
    font-size: 15px;
    color: #e4bb7a;
}

.menu__price {
    position: absolute;
    top: 0;
    left: calc(83.33%);
}

/*menu box*/

.snip1573 {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #000000;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.snip1573:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.snip1573 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1573 figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
    opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/*Opening Hours*/

.opening {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    color: $black;
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/opening-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: $white;
}

.opening .container-fluid {
    padding-right: 20%;
    padding-left: 20%;
}

.opening h2 {
    margin-top: 10px;
}

.opening__wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    background-color: $white;
}

.opening__image {
    width: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.opening__hours {
    display: -webkit-inline-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 65% - 20px);
    padding: 30px;
    border: 1px solid $black;
    margin: 10px;
    text-align: center;
}

.opening__hours span,
.opening__hours p {
    font-size: 15px;
}

.opening__hours span {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: .12em;
    text-transform: uppercase;
}

.opening__hours span:nth-of-type(n+2) {
    display: inline-block;
    margin-top: 40px;
}

.opening__hours p {
    line-height: 1.5625;
}

/*SUBSCRIBE*/

.subscribe {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 96px;
    text-align: center;
    background: url("http://www.jamesarc.com/work/steakville/assets/img/subscribe-bg.jpg") no-repeat center;
    background-size: cover;
    background-color: #fff;
}

.subscribe h2 {
    font-size: 18px;
    color: #000;
}

.arrow--subscribe,
.form--subscribe {
    margin-top: 45px;
}

.input--subscribe {
    width: 270px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #afafaf;
    font-family: Average, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #41403f;
    background-color: rgba(255, 255, 255, 0.5);
}

.submit--subscribe {
    margin-left: calc(26px - 4px);
    border: none;
}

.submit--subscribe:hover {
    cursor: pointer;
}

/*Footer*/


h1 {
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/*contact us*/


h1 {
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
    font-size: 12px;
    ;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 5px;
    ;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 19px;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 10em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.tracks {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background: #1b120f;
}

.ulit {
    display: grid;
    grid-template-columns: 4% 30% 30% 30% 4%;
    background: #1b120f;
}

.btn-overlay {
    border: none;
    display: block;
    width: 150px;
    height: 40px;
    padding: 10px;
    color: #221715;
    font-size: 16px;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 15px;
    ;
    box-shadow: 0px 5px 24px rgba(34, 34, 34, 0.3);
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.btn-overlay:focus {
    outline: none;
}


.btn-overlay {
    background: #ac3f21;
    position: relative;
    overflow: hidden;
}

.btn-overlay:after {
    content: "";
    position: absolute;
    width: 115%;
    height: 200px;
    background: #f89d13;
    transform: translateY(-45%) skew(25deg) scale(0);
    left: -5%;
    transition: 200ms ease-in-out;
}

.btn-overlay:hover:after {
    transform: translateY(-45%) skew(25deg) scale(1);
}

.btn-overlay span {
    position: relative;
    z-index: 1;
}

/*Testimonial*/

.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}

.white-heading {
    color: #ffffff;
}

.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}

.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}

.white-heading span {
    color: #ffffff;
}

/*-----Testimonial-------*/
/*Carousel*/
.carrousel {
    background: #e6dedd;
    text-align: center;
    padding: 4em 0;
    height: 300px;
    max-width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carrousel h2 {
    margin: 0;
    margin-top: -1.7em;
    padding: 0;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
}

.carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;

    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.carrousel .slides li {
    width: 25%;
    position: relative;
    float: left;
}

.carrousel li p {
    margin-top: 0;
}

.carrousel li q {
    max-width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: #1b120f;
    font-size: 17px;
    font-weight: bold;
}

.carrousel li img {
    width: 3em;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.carrousel li span.author {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
}

.carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
    /*--- Centering trick---*/
    /* Absolute positioning*/
    position: absolute;
    /* Abosulte positioning*/
    width: 104px;
    /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
    left: 50%;
    /*Centering de element*/
    margin-left: -52px;
    /*adjusting the centering by applying a negative margin of half of the width*/
}

.carrousel input {
    display: none;
}

.carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #ce7807;
    font-size: 0;
}

/* You have to repeat this with each slide
TODO: make it easier with SCSS
25% movement 100/slides-num
*/
#radio-1:checked ~ .slides {
    transform: translateX(0%);
}

#radio-2:checked ~ .slides {
    transform: translateX(-25%);
}

#radio-3:checked ~ .slides {
    transform: translateX(-50%);
}

#radio-4:checked ~ .slides {
    transform: translateX(-75%);
}


.carrousel .slidesNavigation label:hover {
    cursor: pointer;
}

/* You have to repeat this with each slide/dot */
.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: #ac3f21;
}

@media (max-width: 796px) {
    .carrousel {
        height: 8.5em;
    }
}

@media (max-width: 480px) {
    .carrousel li p {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .carrousel li q {
        font-size: 1em;
    }

    .carrousel li img {
        width: 2em;
        margin-left: -1em;
        margin-right: 0.25em;
    }
}
