* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: -65px;
}

/*logo*/
.logo-img {
    float: left;
    position: relative;
    margin: 5.1px;
}

/* Navigation Style */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 25px 25px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

a {
    color: #000;
    text-decoration: none;

    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    color: #f89d13;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    padding: 0 0 10px;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ac3f21;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.container > header,
.codrops-top {
    font-family: "Lato", sans-serif;
}

.container > header {
    margin: 0 auto;
    text-align: center;
    color: #89867e;
}

.container > header h1 {
    font-size: 2.625em;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    color: #ce7807;
}

/* To Navigation Style */
.codrops-top {
    background: #ce7807;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: #f89d13;
    color: #716d62;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.container > section {
    padding: 5em 3em;
    text-align: center;
}

.color-7 {
    background: #1b120f;
}


/*search*/

h2 {
    margin-bottom: 10px;
}

.containers {
    text-align: center;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding-top: 25px;
    background-color: #1b120f;
}
th {
    color: #f89d13;
    text-transform:uppercase;
}
td {
    color: #e6dedd;
}

.containers table {
    width: 100%;
}

.containers td,
.containers th {
    padding: 10px;
}

.containers td:first-child,
.containers th:first-child {
    padding-left: 20px;
}

.containers td:last-child,
.containers th:last-child {
    padding-right: 20px;
}

.containers th {
    border-bottom: 1px solid #ddd;
    position: relative;
}
