@media screen and (max-width:959px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 320px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 480px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 768px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 1024px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 1280px) {
    #container {
        width: 100%;
    }
}

@media screen (min-width: 1366px) {
    #container {
        width: 100%;
    }
}

#container {
    width: 13549x;
    margin: 0px auto;
}
