#customers {
    margin-top: -12px;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #e6dedd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #fff;
}

#customers tr:hover {
    background-color: #e6dedd;
}

#customers th {
    padding-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-radius: 3px;
    padding: 25px 30px;
    text-align: left;
    font-size: 14px;
    background-color: #f89d13;
    color: white;
}


#openPopUp{
  text-align:center;
  background-color: #f89d13;
  padding: 5px 10px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
}
a#openPopUp:hover{
  cursor: pointer;
  background-color: #ac3f21;
}
.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.popup .popUpContainer{
  width: 100%;
  max-width: 500px;
  position: fixed; /* To avoid scroll to target */
  left: 50%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #f89d13;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999; 
}
.popup h2{
  padding: 0.5em;
  text-align: center;
  color: #1b120f;
  margin: 0;
}
.popup img{
  width: 100%;
  display: block;
}
.popup article{
	height: 350px;
  background-color: rgba(230, 222, 221, 0.93);
}
/* The cancel button on popup dialog */
.popup a.closePopUp{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
/* The cancel button on popup dialog */
.popup a:hover{
  color: #f89d13;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
  opacity: 1;
  top: 0;
}
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.popup:target .popUpContainer{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .popup .popUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}

.productinput { 
    width: 90%;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    border-color: rgba(230, 222, 221, 0.6);
    
}
#editPopUp{
   text-align:center;
  background-color: #f89d13;
  padding: 5px 10px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
    
}
a#editPopUp:hover{
  cursor: pointer;
  background-color: #ac3f21;
}
.edit{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.edit .editContainer{
  width: 100%;
  max-width: 500px;
  position: fixed; /* To avoid scroll to target */
  left: 50%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999; 
}
.edit h2{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}
.edit img{
  width: 100%;
  display: block;
}
.edit article{
	height: 300px;
  background-color: #f89d13;
}
/* The cancel button on popup dialog */
.edit a.closeedit{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
/* The cancel button on edit dialog */
.edit a:hover{
  color: #c0392b;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.edit:target{
  opacity: 1;
  top: 0;
}
.edit .closeeditOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.edit:target .editContainer{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .edit .editContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .edit ul{
    padding: 0 1em 0 1em;
  }
  .edit:target .editContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}